.likes-wrapper {
    margin-top: 50px;

    .title {
        text-align: center;
        font-size: 1.6rem;
        font-weight: bold;
    }
    
    .likes {
        background-color: rgb(244, 244, 244);
        padding: 20px;
        border-radius: 7px;
        margin-top: 20px;
    
    
        .item {
            display: flex;
            margin: 20px 0;
            align-items: center;
            text-overflow: ellipsis;
    
            .text {
                font-size: 1.2rem;
            }
    
            .icon-wrapper {
                width: 40px;
                margin-right: 10px;
    
                .icon {
                    font-size: 2.2rem;
                    color: var(--main-color);
                }
            }
        }
    }
}
