.about {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;

    .sec-1{
        .about-title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 15px;
        }

        .about-text {
            font-size: 1.2rem;   
            line-height: 1.4;
        }
    }

    .sec-2 {
        display: flex;
        justify-content: center;
    }

}

@media (max-width: 880px) {
    .about {
      grid-template-columns: 100%;
    }
  }